body {
  font-family: arial;
}

#div1 {
  text-align: center;
}

#div2 {
  height: 600px;
  text-align: center;
}

#map {
  height: 600px;
  width: 78%;
}

#sidebar {
}

.card {
}

.card h3:hover {
  color: #BF2634;
  transition: color 0.8s;
}

.card h3, p, li {
  color: #53596C;
  margin: 3px 5px 3px 5px;
}

.input-flex-container {
  width: 75%;
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-flex-item {
  height: auto;
  max-width: 100%;

}


.flex-container {
  background-color: #FFFFFF;
  float: right;
  width: 20%;
  max-height: 600px;
  padding: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  height: auto;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 3px;
  max-width: 100%;
}

.flex-item p {
  margin-bottom: 10px;
};
