body {
  font-family: arial;
}


#div1 {
  text-align: center;
}

#div1 h1 {
  font-size: 2em;
}

#div2 {
  height: 600px;
  text-align: center;
}

#div3 {
  text-align: center;
}

#div3 h3 {
  margin: 20px 10px 10px 20px;
}

#map {
  height: 600px;
  width: 78%;
}

#address-input {
  height: auto;
  max-width: 100%;
  padding: 6px 6px;
  font-size: 1.5em;

}

.input-flex-container {
  width: 75%;
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-container {
  background-color: #FFFFFF;
  float: right;
  width: 20%;
  max-height: 600px;
  padding: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-item {
  height: auto;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 3px;
  max-width: 100%;
}

.flex-item p {
  margin-bottom: 10px;
};
